/*This is the cascading style sheet to the style html files*/
*{
margin:0;
padding:0;
font-family:sans-serif;
}

.banner{
width:100%;
height:100vh;
background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(https://images.pexels.com/photos/3952077/pexels-photo-3952077.jpeg?auto=compress&cs=tinysrgb&w=600);
background-size:cover;
background-position:center;
}

.logo{
width:100px;
cursor:pointer;
padding:10px;
padding-top:0;
}
 

.navbar{
width:100%;
margin:auto;
padding: 25px 0;
display:flex;
align-items:middle;
justify-content:space-between;
position:fixed;
top:0;
}
 
.navbar ul li{
list-style:none;
display:inline-block;
margin:0 20px;
}
 
.navbar ul li a{
text-decoration:none;
color:#fff;
text-transform:uppercase;
font-size:18px;
}

li a :hover{
background-color:#836953;
}

.content{
width:100%;
position:absolute;
top:50%;
transform:translateY(-50%);
text-align:center;
color:white;
}

h1{
font-family:'Georgia';font-size:90px;
padding-bottom:40px;
}



button{
width:160px;
padding:10px 0;
text-align:center;
margin:20px 10px;
border-radius:25px;
font-weight:bold;
border:2px solid #836953;
background:transparent;
color:#fff;
cursor:pointer;
position:relative;
top:-40px;
left:-20px;
}


#about{
width: 900px;
margin: auto;
background-color:#fff;
border:2px solid #836953;
border-radius:12px;
padding:5px;
position:relative;
bottom:-115px;
padding-left:20px;
padding-right:20px;
padding-top:20px;
padding-bottom:20px;
}

#title{
font-family:'Georgia';font-size:40px;
color:#836953;
position:relative;
text-align:center;
bottom:-80px;


}

.text{
font-family:'Georgia';font-size:20px;
color:#3D251E;
}

.button-link{
color:white;
text-decoration:none;
}


.Recipe-head{
color:#836953;
position:relative;
text-align:center;
bottom:-150px;
font-family:'Georgia';font-size:40px;

}


.link-image{
position:relative;
}




.image-button1{
width:350px;
height:210px;
position:relative;
text-align:center;
padding-left:90px;
top:150px;

}

.image-button2{
width:340px;
height:210px;
position:relative;
text-align:center;
padding-left:10px;
top:150px;
}

.image-button3{
width:370px;
height:210px;
position:relative;
text-align:center;
padding-left:10px;
top:150px;
}

.image-button4{
width:370px;
height:210px;
position:relative;
text-align:center;
padding-left:90px;
top:200px
}

.image-button5{
width:370px;
height:210px;
position:relative;
text-align:center;
padding-left:40px;
top:200px;
}





.image-button-text1{
position:absolute;
margin:0;
top:1010px;
left:20%;
transform:translateX(-50%);
text-decoration:none;
color:#fff;
font-family:'Georgia';
font-size:45px;
}

.image-button-text2{
position:absolute;
margin:0;
top:1005px;
left:49%;
transform:translateX(-50%);
text-decoration:none;
color:#fff;
font-family:'Georiga';
font-size:45px;
}


.image-button-text3{
position:absolute;
margin:0;
top:1005px;
left:80%;
transform:translateX(-50%);
text-decoration:none;
color:#fff;
font-family:'Georgia';
font-size:40px;
}



.image-button-text4{
position:absolute;
margin:0;
top:1290px;
left:20%;
transform:translateX(-50%);
text-decoration:none;
color:white;
font-family:'Georgia';
font-size:60px;
}

/*CHRISTMAS WEBPAGE*/
.banner2{
width:100%;
height:100vh;
background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(https://images.pexels.com/photos/1303085/pexels-photo-1303085.jpeg?auto=compress&cs=tinysrgb&w=600);
background-size:cover;
background-position:center;
}

.HeaderC{
width:100%;
position:absolute;
top:50%;
transform:translateY(-50%);
text-align:center;
color:white;
font-family:'Georiga';
}


.Recipe-title{
font-family:'Georgia';font-size:40px;
color:#836953;
position:relative;
text-align:center;
bottom:-100px;
border:3px;
border-style:solid;
border-color:#5C4033;
}

.CONVERSION-table-title{
font-family:'Georgia';font-size:25px;
color:#5C4033;
position:relative;
text-align:center;
bottom:-120px;
}


.CONVERSION-TABLE{
font-family:'Georgia';font-size:20px;
color:#5C4033;
position:relative;
text-align:center;
left:530px;
top:150px;
}

.RECIPE1{
font-family:'Georgia';font-size:40px;
color:#836953;
position:relative;
text-align:center;
bottom:-200px;
border:3px;
border-style:solid;
border-color:#5C4033;
}

.PERIMENT-CONTAINER{
background-color:#C4A484;
border-radius:25px;
width:470px;
height:230px;
position:relative;
text-align:center;
bottom:-220px;
left:130px;
}

.ingredients-title{
font-size:40px;
font-family:'Georgia';
color:#5C4033;
}

.servings1{
font-size:29px;
font-family:'Georgia';
color:#5C4033;
}

.ingredients-list-container{
background-color:#5C4033;
width:400px;
height:130px;
top:50px;
position:relative;
text-align:center;
left:150px;
border-style:solid;
border-radius:25px;
}


.ingredients-list1{
font-size:20px;
font-family:'Georgia';
color:white;
margin-left:30px;
margin-top:10px;
}

.PERIMENT-CONTAINER2{
background-color:#C4A484;
border-radius:25px;
width:470px;
height:400px;
position:relative;
text-align:center;
bottom:160px;
left:700px;
}

.instructions-title{
font-size:40px;
font-family:'Georgia';
color:#5C4033;
}

.instructions-list-container{
background-color:#5C4033;
width:400px;
height:300px;
top:-510px;
position:relative;
text-align:center;
left:730px;
border-style:solid;
border-radius:25px;
}

.instructions-list{
font-size:15.4px;
font-family:'Georgia';
color:white;
margin-left:30px;
margin-top:10px;
}

#final-product{
font-size:30px;
font-family:'Georgia';
margin-left:150px;
bottom:-500px;
color:#5C4033;
margin-top:-560px;
}


.bark-image{
width:380px;
height:230px;
position:relative;
text-align:center;
padding-left:90px;
top:10px;
margin-left:50px;
}

.RECIPE2{
font-family:'Georgia';font-size:40px;
color:#836953;
position:relative;
text-align:center;
bottom:-100px;
border:3px;
border-style:solid;
border-color:#5C4033;
}

.COOKIES-CONTAINER{
background-color:#C4A484;
border-radius:25px;
width:470px;
height:300px;
position:relative;
text-align:center;
bottom:-120px;
left:150px;
}

.Ingredients-title2{
font-size:40px;
font-family:'Georgia';
color:#5C4033;
}

.servings2{
font-size:29px;
font-family:'Georgia';
color:#5C4033;
}

.ingredients-list-container2{
background-color:#5C4033;
width:400px;
height:200px;
top:-120px;
position:relative;
text-align:center;
left:170px;
border-style:solid;
border-radius:25px;
}

.ingredients-list2{
font-size:20px;
font-family:'Georgia';
color:white;
margin-left:30px;
margin-top:10px;
}


.COOKIES-CONTAINER2{
background-color:#C4A484;
border-radius:25px;
width:470px;
height:200px;
position:relative;
text-align:center;
bottom:60px;
left:130px;
}

.ingredients-title-icing{
font-size:30px;
font-family:'Georgia';
color:#5C4033;
}

.ingredients-icing{
background-color:#5C4033;
width:400px;
height:130px;
top:5px;
position:relative;
text-align:center;
left:20px;
border-style:solid;
border-radius:25px;
}

.ingredients-list-icing{
font-size:15px;
font-family:'Georgia';
color:white;
margin-left:30px;
margin-top:10px;
}

.COOKIES-CONTAINER3{
background-color:#C4A484;
border-radius:25px;
width:470px;
height:690px;
position:relative;
text-align:center;
bottom:600px;
left:700px;
}


.instructions-title3{
font-size:40px;
font-family:'Georgia';
color:#836953;
}

.instrcutions-list-container3{
background-color:#5C4033;
width:400px;
height:620px;
top:-1245px;
position:relative;
text-align:center;
left:730px;
border-style:solid;
border-radius:25px;
}

.instructions-list3{
font-size:15.4px;
font-family:'Georgia';
color:white;
margin-left:30px;
margin-top:10px;
}

#final-product2{
font-size:30px;
font-family:'Georgia';
margin-left:200px;
color:#5C4033;
position:absolute;
margin-top:-1320px;
}


.Sugar-cookies-image{
width:280px;
height:230px;
position:relative;
text-align:center;
padding-left:90px;
top:-1250px;
margin-left:100px;
}



/*VALENTINES DAY WEBPAGE*/

.banner3{
width:100%;
height:100vh;
background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(https://images.pexels.com/photos/5874620/pexels-photo-5874620.jpeg?auto=compress&cs=tinysrgb&w=600);
background-size:cover;
background-position:center;
}

.HeaderV{
width:100%;
position:absolute;
top:50%;
transform:translateY(-50%);
text-align:center;
color:white;
font-family:'Georgia';
}
 
 
.V-Recipe-title{
font-family:'Georgia';font-size:40px;
color:#836953;
position:relative;
text-align:center;
bottom:-100px;
border:3px;
border-style:solid;
border-color:#5C4033;
}

.V-CONVERSION-table-title{
font-family:'Georgia';font-size:25px;
color:#5C4033;
position:relative;
text-align:center;
bottom:150px;
}

.V-CONVERSION-TABLE{
font-family:'Georgia';font-size:20px;
color:#5C4033;
position:relative;
text-align:center;
left:530px;
top:170px;
}

.V-RECIPE1{
font-family:'Georgia';font-size:40px;
color:#836953;
position:relative;
text-align:center;
bottom:-200px;
border:3px;
border-style:solid;
border-color:#5C4033;
}

.CAKEPOP-CONTAINER{
background-color:#C4A484;
border-radius:25px;
width:470px;
height:230px;
position:relative;
text-align:center;
bottom:-240px;
left:130px;
}

.V-ingredients-list-container{
background-color:#5C4033;
width:420px;
height:145px;
top:-50px;
position:relative;
text-align:center;
left:20px;
border-style:solid;
border-radius:25px;
}

.V-ingredients-title1{
font-size:40px;
font-family:'Georgia';
color:#836953;
}

.V-ingredients-list1{
font-size:15px;
font-family:'Georgia';
color:white;
margin-left:30px;
margin-top:10px;
}


.V-servings1{
font-size:25px;
font-family:'Georgia';
color:#5C4033;
}

.CAKEPOP-CONTAINER2{
background-color:#C4A484;
border-radius:25px;
width:470px;
height:490px;
position:relative;
text-align:center;
bottom:10px;
left:700px;
}

.V-instructions-title{
font-size:40px;
font-family:'Georgia';
color:#836953;
}

.V-instructions-list-container{
background-color:#5C4033;
width:400px;
height:380px;
top:-450px;
position:relative;
text-align:center;
left:730px;
border-style:solid;
border-radius:25px;
}

.V-instructions-list{
font-size:15.4px;
font-family:'Georgia';
color:white;
margin-left:30px;
margin-top:10px;
}

#V-final-product{
position:relative;
color:#5C4033;
font-size:40px;
font-family:'Georgia';
bottom:580px;
text-align:center;
left:-320px;
}

.Cakepop-image{
width:380px;
height:200px;
position:relative;
text-align:center;
padding-left:90px;
top:-540px;
margin-left:50px;
}


.V-RECIPE2{
font-family:'Georgia';font-size:40px;
color:#836953;
position:relative;
text-align:center;
bottom:-100px;
border:3px;
border-style:solid;
border-color:#5C4033;
}

.STRAWBERRY-CONTAINER{
background-color:#C4A484;
border-radius:25px;
width:470px;
height:200px;
position:relative;
text-align:center;
bottom:-120px;
left:130px;
}

.V-Ingredients-title2{
font-size:40px;
font-family:'Georgia';
color:#836953;
}

.V-ingredients-list-container2{
background-color:#5C4033;
width:410px;
height:110px;
top:-20px;
position:relative;
text-align:center;
left:20px;
border-style:solid;
border-radius:25px;
}

.V-ingredients-list2{
font-size:15.4px;
font-family:'Georgia';
color:white;
margin-left:30px;
margin-top:10px;
}

.STRAWBERRY-CONTAINER2{
background-color:#C4A484;
border-radius:25px;
width:470px;
height:500px;
position:relative;
text-align:center;
bottom:80px;
left:700px;
}

.V-instructions-title2{
font-size:40px;
font-family:'Georgia';
color:#836953;
}

.V-instructions-list-container2{
background-color:#5C4033;
width:400px;
height:400px;
top:-530px;
position:relative;
text-align:center;
left:730px;
border-style:solid;
border-radius:25px;
}

.V-instructions-list2{
font-size:15.4px;
font-family:'Georgia';
color:white;
margin-left:30px;
margin-top:10px;
}

#V-final-product2{
font-size:30px;
font-family:'Georgia';
margin-left:200px;
color:#5C4033;
position:absolute;
top:2660px;
}

.strawberry-image{
width:280px;
height:230px;
position:relative;
text-align:center;
padding-left:90px;
top:-700px;
margin-left:100px;
}



/*THANKSGIVING WEBPAGE*/

.banner4{
width:100%;
height:100vh;
background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(https://images.pexels.com/photos/730286/pexels-photo-730286.jpeg?auto=compress&cs=tinysrgb&w=600);
background-size:cover;
background-position:center;
}

.HeaderT{
width:100%;
position:absolute;
top:50%;
transform:translateY(-50%);
text-align:center;
color:white;
font-family:'Georgia';
}
 
.T-Recipe-title{
font-family:'Georgia';font-size:40px;
color:#836953;
position:relative;
text-align:center;
bottom:-50px;
border:3px;
border-style:solid;
border-color:#5C4033;
}

.T-CONVERSION-table-title{
font-family:'Georgia';font-size:25px;
color:#5C4033;
position:relative;
text-align:center;
bottom:-70px;
}

.T-CONVERSION-TABLE{
font-family:'Georgia';font-size:20px;
color:#5C4033;
position:relative;
text-align:center;
left:530px;
top:80px;
}



.T-RECIPE1{
font-family:'Georgia';font-size:40px;
color:#836953;
position:relative;
text-align:center;
bottom:-150px;
border:3px;
border-style:solid;
border-color:#5C4033;
}

.MASHED-CONTAINER{
background-color:#C4A484;
border-radius:25px;
width:470px;
height:230px;
position:relative;
text-align:center;
bottom:-180px;
left:130px;
}


.T-ingredients-list-container{
background-color:#5C4033;
width:420px;
height:145px;
top:-20px;
position:relative;
text-align:center;
left:20px;
border-style:solid;
border-radius:25px;
}

.T-ingredients-list1{
font-size:15.4px;
font-family:'Georgia';
color:white;
margin-left:30px;
margin-top:0px;
  
}

.T-ingredients-title1{
font-size:40px;
font-family:'Georgia';
color:#5C4033;
margin-left:30px;
margin-top:-1px;
}

.T-servings1{
font-size:25px;
font-family:'Georgia';
color:#5C4033;
}

.MASHED-CONTAINER2{
background-color:#C4A484;
border-radius:25px;
width:470px;
height:380px;
position:relative;
text-align:center;
bottom:50px;
left:750px;
}

.T-instructions-title{
font-size:40px;
font-family:'Georgia';
color:#5C4033;
}

.T-instructions-list-container{
background-color:#5C4033;
width:400px;
height:250px;
top:-360px;
position:relative;
text-align:center;
margin-left:780px;
border-style:solid;
border-radius:25px;
}

.T-instructions-list{
font-size:15.4px;
font-family:'Georiga';
color:white;
margin-left:35px;
margin-top:10px;
}

#T-final-product{
font-size:30px;
font-family:'Georgia';
margin-left:180px;
color:#5C4033;
margin-top:-450px;
}

.MASHED-image{
width:380px;
height:200px;
position:relative;
text-align:center;
padding-left:90px;
margin-top:-3px;
margin-left:10px;
}


.T-RECIPE2{
font-family:'Georgia';font-size:40px;
color:#836953;
position:relative;
text-align:center;
bottom:-200px;
border:3px;
border-style:solid;
border-color:#5C4033;
left:-1px;
}


.ROAST-CONTAINER{
background-color:#C4A484;
border-radius:25px;
width:470px;
height:360px;
position:relative;
text-align:center;
bottom:-250px;
left:80px;
}

.T-Ingredients-title2{
font-size:40px;
font-family:'Georgia';
color:#836953;
}


.T-ingredients-list-container2{
background-color:#5C4033;
width:410px;
height:220px;
top:0px;
position:relative;
text-align:center;
left:30px;
border-style:solid;
border-radius:25px;
}

.T-ingredients-list2{
font-size:16px;
font-family:'Georgia';
color:white;
margin-left:30px;
margin-top:10px;
}

.T-servings2{
font-size:25px;
font-family:'Georgia';
color:#5C4033;
}
.ROAST-CONTAINER2{
background-color:#C4A484;
border-radius:25px;
width:470px;
height:450px;
position:relative;
text-align:center;
bottom:100px;
left:700px;
}

.T-instructions-title2{
font-size:40px;
font-family:'Georgia';
color:#836953;
}

.T-instructions-list-container2{
background-color:#5C4033;
width:400px;
height:330px;
top:-480px;
position:relative;
text-align:center;
left:730px;
border-style:solid;
border-radius:25px;
}

.T-instructions-list2{
font-size:15.4px;
font-family:'Georgia';
color:white;
margin-left:30px;
margin-top:10px;
}

#T-final-product2{
font-size:30px;
font-family:'Georgia';
margin-left:150px;
color:#5C4033;
position:absolute;
top:2300px;
}

.ROAST-image{
width:280px;
height:230px;
position:relative;
text-align:center;
padding-left:90px;
top:-400px;
margin-left:40px;
}



/* DIWALI*/

.banner5{
width:100%;
height:100vh;
background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(https://images.pexels.com/photos/5861723/pexels-photo-5861723.jpeg?auto=compress&cs=tinysrgb&w=600);
background-size:cover;
background-position:center;
}

.HeaderD{
width:100%;
position:absolute;
top:50%;
transform:translateY(-50%);
text-align:center;
color:white;
font-family:'Georgia';
}

.D-RECIPE1{
font-family:'Georgia';font-size:40px;
color:#836953;
position:relative;
text-align:center;
bottom:-40px;
border:3px;
border-style:solid;
border-color:5C4033;
}


.D-Recipe-title{
font-family:'Georgia';font-size:40px;
color:#836953;
position:relative;
text-align:center;
bottom:-120px;
border:3px;
border-style:solid;
border-color:#5C4033;
}


.D-CONVERSION-table-title{
font-family:'Georgia';font-size:25px;
color:#5C4033;
position:relative;
text-align:center;
bottom:-70px;
}

.D-CONVERSION-TABLE{
font-family:'Georgia';font-size:20px;
color:#5C4033;
position:relative;
text-align:center;
left:530px;
top:80px;
}


.D-RECIPE{
font-family:'Georgia';font-size:40px;
color:#836953;
position:relative;
text-align:center;
bottom:-160px;
border:3px;
border-style:solid;
border-color:#5C4033;
}


.BUTTER-CONTAINER{
background-color:#C4A484;
border-radius:25px;
width:470px;
height:430px;
position:relative;
text-align:center;
bottom:-180px;
left:130px;
}
.D-ingredients-title{
font-size:40px;
font-family:'Georgia';
color:#5C4033;
}

.D-ingredients-list1{
font-size:15px;
font-family:'Georgia';
color:white;
margin-left:30px;
margin-top:10px;
}


.D-servings1{
font-size:25px;
font-family:'Georgia';
color:#5C4033;
}

.D-ingredients-list-container{
background-color:#5C4033;
width:420px;
height:340px;
top:-15px;
position:relative;
text-align:center;
left:20px;
border-style:solid;
border-radius:25px;
}


.BUTTER-CONTAINER2{
background-color:#C4A484;
border-radius:25px;
width:470px;
height:450px;
position:relative;
text-align:center;
bottom:245px;
left:680px;
}

.D-instructions-title{
font-size:40px;
font-family:'Georgia';
color:#5C4033;
}


.D-instructions-list-container{
background-color:#5C4033;
width:400px;
height:350px;
top:-640px;
position:relative;
text-align:center;
left:720px;
border-style:solid;
border-radius:25px;
}

.D-instructions-list{
font-size:15.4px;
font-family:'Georgia';
color:white;
margin-left:40px;
margin-top:10px;
}



#D-final-product{
font-size:30px;
font-family:'Georgia';
margin-left:200px;
color:#5C4033;
position:absolute;
top:1580px;
}

.butter-image{
width:380px;
height:200px;
position:relative;
text-align:center;
left:170px;
top:-500px;
margin-left:-50px;
}


.D-RECIPE2{
font-family:'Georgia';font-size:40px;
color:#836953;
position:relative;
text-align:center;
bottom:450px;
border:3px;
border-style:solid;
border-color:#5C4033;
left:0px;
}


.MILK-CONTAINER{
background-color:#C4A484;
border-radius:25px;
width:470px;
height:200px;
position:relative;
text-align:center;
bottom:400px;
left:160px;
}


.D-Ingredients-title2{
font-size:40px;
font-family:'Georgia';
color:#836953;
}

.D-ingredients-list-container2{
background-color:#5C4033;
width:410px;
height:120px;
top:-10px;
position:relative;
text-align:center;
left:30px;
border-style:solid;
border-radius:25px;
}

.D-ingredients-list2{
font-size:16px;
font-family:'Georgia';
color:white;
margin-left:30px;
margin-top:10px;
}

.D-servings2{
font-size:25px;
font-family:'Georgia';
color:#5C4033;
}

.MILK-CONTAINER2{
background-color:#C4A484;
border-radius:25px;
width:470px;
height:470px;
position:relative;
text-align:center;
bottom:600px;
left:700px;
}


.D-instructions-title2{
font-size:40px;
font-family:'Georgia';
color:#836953;
}

.D-instructions-list-container2{
background-color:#5C4033;
width:400px;
height:410px;
top:-1025px;
position:relative;
text-align:center;
left:730px;
border-style:solid;
border-radius:25px;
}


.D-instructions-list2{
font-size:15.4px;
font-family:'Georgia';
color:white;
margin-left:30px;
margin-top:10px;
}


#D-final-product2{
font-size:30px;
font-family:'Georgia';
margin-left:270px;
color:#5C4033;
position:absolute;
top:2260px;
}


.MILK-image{
width:280px;
height:230px;
position:relative;
text-align:center;
padding-left:90px;
top:-1150px;
margin-left:160px;
}


#reference{
background-color:#AEC6CF;
}

.reference-head{
font-family:'Georgia';font-size:40px;
color:black;
position:relative;
text-align:center;
bottom:-200px;
border:3px;
border-style:solid;
border-color:#5C4033;
}

.references{
position:absolute;
top:300px;
margin-left:100px;
}

